<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<footer class="footer">
    <div class="footer-container">
      <div class="footer-section contact">
        <h4>Contact Us</h4>
        <p>Email: contactexample.com</p>
        <p>Phone: +123-456-7890</p>
      </div>
      <div class="footer-section address">
        <h4>Address</h4>
        <p>123 Example Street</p>
        <p>City, State, 12345</p>
      </div>
      <div class="footer-section social-media">
        <h4>Follow Us</h4>
        <a href="https://facebook.com" target="_blank" class="social-icon fa fa-facebook"></a>
        <a href="https://twitter.com" target="_blank" class="social-icon fa fa-twitter"></a>
        <a href="https://instagram.com" target="_blank" class="social-icon fa fa-instagram"></a>
      </div>
    </div>
  </footer>
  